html {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-size: 160%;
}
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: min(580px, 95vw);
    height: 85%;
    border: none;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.2s;
}

#modal.active {
    opacity: 1;
    visibility: visible;
    z-index: 999999;
}
body {
    color: #222;
    line-height: 1.5;
    user-select: none;
}

.modal__bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__bg:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.12;
    background-image: radial-gradient(#ffffff40, #fff0 40%),
        radial-gradient(hsl(44, 100%, 66%) 30%, hsl(338, 68%, 65%), hsla(338, 68%, 65%, 0.4) 41%, transparent 52%),
        radial-gradient(hsl(272, 100%, 60%) 37%, transparent 46%),
        linear-gradient(155deg, transparent 65%, hsl(142, 70%, 49%) 95%), linear-gradient(45deg, #0065e0, #0f8bff);
    background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
    background-position: bottom left, 109% 68%, 109% 68%, center, center;
}

.modal {
    width: 100%;
    height: 100vh;
    padding: 30px;
    z-index: 100;
}

.main {
    position: relative;
}

.close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal-btn:hover {
    background-color: #ddd;
}
